body{
	font-family: 'Roboto',Arial,sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.title {
	color: #c40e0e;
	font-weight: 700;
    text-align: center;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}

.main {
	min-height: 100vh;
	position: relative;
    z-index: 0;
	background: url(../img/main__background.jpg);
	background-attachment: scroll;
	background-position: center center;      
	background-repeat: no-repeat;
	background-size: cover;
}

.main__blackout {
	height: 100vh;
	width: 100%;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
}

.main__title h1 {
	padding-top: 170px;
	padding-bottom: 50px;	
	font-size: 58px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.17;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 70%);
}

.main__subtitle h3 {
	padding-bottom: 75px;
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	line-height: 1.55;
}

.main__button {
	text-align: center;
}

.main__button a {
	color: #ffffff;
    background-color: #0cc206;
	border-radius: 30px;
    font-size: 20px;
    padding: 20px 50px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
	transition-duration: 0.3s;
}

.main__button a:hover {
	background-color: #ffffff;
    color: #2971f5;
}

.subtitle .container {
	max-width: 950px;
}

.subtitle__text {
	padding-top: 60px;
    padding-bottom: 45px;
	color: #000;
    font-size: 30px;
    line-height: 1.35;
	text-align: center;
	opacity: 0.7;
}

.attention {
	padding-bottom: 50px;
}

.attention .container {
	max-width: 1100px;
}

.attention__row {
	display: flex;
}

.attention__text {
	max-width: 50%;
	margin-top: auto;
    margin-bottom: auto;
}

.attention__title h2 {
	font-size: 30px;
    line-height: 1.17;
	font-weight: 600;
	padding-bottom: 28px;
}

.attention__subtitle h3 {
	font-size: 18px;
	font-weight: 300;
    color: #000;
	padding-bottom: 28px;
	opacity: 0.8;
}

.attention__list {
	margin-left: 18px;
}

.attention__list li {
	font-size: 18px;
    line-height: 1.55;
	font-weight: 300;
    color: #000;
	list-style: disc outside;
	opacity: 0.8;
}

.attention__img {
	max-width: 50%;
	margin-left: 50px;
}

.attention__img img {
	width: 100%;
	margin-left: 70px;
}

.lid {
	padding-bottom: 80px;
}

.lid .container {
	max-width: 960px;
}

.lid__title h2 {
	padding-bottom: 40px;
	font-size: 42px;
}

.lid__subtitle h3 {
	font-size: 20px;
	line-height: 1.55;
	font-weight: 300;
	text-align: center;
	opacity: 0.7;
}

.modes {
	padding-bottom: 70px;
}

.modes .container {
	max-width: 1200px;
}

.modes__title {
	font-size: 39px;
	padding-bottom: 70px;
}

.modes__main {
	display: flex;
	justify-content: space-around;
}

.modes__water {
	flex: 50%;
}

.modes__water .modes__footer {
	padding-top: 31px;
}

.modes__subtitle h3{
	font-weight: 700;
	font-size: 20px;
    line-height: 1.55;
	text-align: center;
	padding-bottom: 40px;
}

.modes__text h3{
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
    line-height: 1.55;
	padding-bottom: 30px;
}

.modes__list li {
	font-size: 20px;
    line-height: 1.55;
	font-weight: 300;
    opacity: 0.8;
}

.modes__list li:before {
	content: "- "; 
	font-weight: 700;
}

.modes__footer h3{
	font-weight: 700;
	font-size: 20px;
    line-height: 1.55;
}

.modes__steamed {
	flex: 50%;
}

.only {
	padding-bottom: 80px;
}

.only .container {
	max-width: 1150px;
}

.only__title h2 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 600;
    text-align: center;
	padding-bottom: 50px;
}

.only__subtitle h3{
	font-size: 26px;
	line-height: 42px;
	font-weight: 300;
	text-align: center;
	opacity: 0.9;
}

.footer {
	background-color: #007c30;
}

.footer .container {
	max-width: 1150px;
}

.footer__rules h3{
	padding-top: 25px;
	font-weight: 600;
	color: #fff;
	font-size: 14px;
    line-height: 1.55;
}

.footer__info h3{
	font-weight: 600;
	color: rgb(65, 145, 93);
	font-size: 14px;
    line-height: 1.55;
}

.footer__politics {
	padding-bottom: 25px;
}

.footer__politics a{
	font-weight: 600;
	color: rgb(113, 191, 134);
	font-size: 14px;
    line-height: 1.55;
}

.description {
	
}

.description__title {
	padding-bottom: 65px;
}

.description__title h2 {
	font-size: 40px;
}

.description__bottom {
	padding-bottom: 50px;
	display: flex;
}

.bottom__img {
	height: 138px;
    flex: 0 1 13.15%;
}

.bottom__img img {
	width: 100%;
}

.bottom__text {
	padding-left: 50px;
    flex: 0 1 87%;
}

.description__seams {
	padding-bottom: 50px;
	display: flex;
}

.seams__text {
	display: flex;
	align-items: center;
	padding-right: 50px;
    flex: 0 1 87%;
}

.seams__img {
	height: 138px;
    flex: 0 1 13.15%;
}

.seams__img img {
	width: 100%;
}

.description__valve {
	padding-bottom: 50px;
	display: flex;
}

.valve__img {
	height: 138px;
    flex: 0 1 13.15%;
}

.valve__img img{
	width: 100%;
}

.valve__text {
	display: flex;
	align-items: center;
	padding-left: 50px;
    flex: 0 1 87%;
}

.description__cassette {
	padding-bottom: 50px;
	display: flex;
}

.cassette__text {
	display: flex;
	align-items: center;
	padding-right: 50px;
    flex: 0 1 87%;
}

.cassette__img {
	height: 138px;
    flex: 0 1 13.15%;
}

.cassette__img img{
	width: 100%;
}

.description__retainer {
	display: flex;
}

.retainer__img {
	height: 138px;
    flex: 0 1 13.15%;
}

.retainer__img img{
	width: 100%;
}

.retainer__text {
	display: flex;
	align-items: center;
	padding-left: 50px;
    flex: 0 1 87%;
}

.description h3 {
	font-size: 18px;
	line-height: 1.55;
	opacity: 0.7;
}

.description__slider {
	
}

.description__container-slider {
	max-width: 1050px;
	margin: 0 auto;
}
.description__img-slider {
	text-align: center;
}
.description__text-slider {
	text-align: center;
}
.description__bottom-slider {
	display: flex;
	justify-content: center;
}
.description__number-slider {
}

@media (max-width: 2560px) {
	.container {
		max-width: 1400px;
	}
	.main__title h1 {
		font-size: 90px;
    	padding-bottom: 60px;
		padding-top: 160px;
		color: #000;
	}
	.main__subtitle h3 {
		font-size: 35px;
		padding-bottom: 100px;	
	}
	.main__button a {
		font-size: 30px;
	}
	.subtitle .container {
		max-width: 1300px;
	}
	.subtitle__text {
		padding-top: 70px;
		padding-bottom: 0;
		font-size: 35px;
	}
	.attention .container {
		max-width: 1400px;
	}
	.attention__text {
		max-width: 700px;
	}
	.attention__title h2 {
		font-size: 40px;
	}
	.attention__subtitle h3 {
		font-size: 35px;
	}
	.attention__list {
		margin-left: 25px;
	}
	.attention__list li {
		font-size: 30px;
	}
	.attention__img {
		max-width: 700px;
		margin-left: 0;
	}
	.lid .container {
		max-width: 1420px;
	}
	.lid__title h2 {
		font-size: 62px;
	}
	.lid__subtitle h3 {
		font-size: 30px;
		line-height: 1.4;
	}
}

@media (max-width: 1440px) {
	.container {
		max-width: 1050px;
	}
	.main__title h1 {
		font-size: 58px;
    	padding-bottom: 50px;
		padding-top: 170px;
		color: rgb(189, 23, 23);
	}
	.main__subtitle h3 {
		font-size: 23px;
		padding-bottom: 75px;
	}
	.main__button a {
		font-size: 20px;
	}
	.subtitle .container {
		max-width: 950px;
	}
	.subtitle__text {
		padding-top: 60px;
		padding-bottom: 45px;
		font-size: 30px;
	}
	.attention .container {
		max-width: 1100px;
	}
	.attention__text {
		max-width: 50%;
	}
	.attention__title h2 {
		font-size: 30px;
	}
	.attention__subtitle h3 {
		font-size: 21px;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 19px;
	}
	.attention__img {
		max-width: 50%;
		margin-left: 50px;
	}
	.lid .container {
		max-width: 960px;
	}
	.lid__title h2 {
		font-size: 42px;
	}
	.lid__subtitle h3 {
		font-size: 20px;
		line-height: 1.55;
	}
}

@media (max-width: 1024px) {
	.container {
		max-width: 900px;
	}
	.main__title h1 {
		font-size: 58px;
    	padding-bottom: 50px;
		padding-top: 130px;
		color: rgb(230, 116, 22);
	}
	.main__subtitle h3 {
		font-size: 23px;
		padding-bottom: 75px;
	}
	.main__button a {
		font-size: 20px;
	}
	.subtitle .container {
		max-width: 950px;
	}
	.subtitle__text {
		padding-top: 60px;
		padding-bottom: 45px;
		font-size: 30px;
	}
	.attention .container {
		max-width: 900px;
	}
	.attention__text {
		max-width: 50%;
	}
	.attention__title h2 {
		font-size: 30px;
	}
	.attention__subtitle h3 {
		font-size: 22px;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 19px;
	}
	.attention__img {
		max-width: 50%;
		margin-left: 50px;
	}
	.lid .container {
		max-width: 950px;
	}
	.lid__title h2 {
		font-size: 42px;
	}
	.lid__subtitle h3 {
		font-size: 21px;
		line-height: 1.55;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 660px;
	}
	.main {
		background: url(../img/main__background-mobile.jpg);
		background-attachment: scroll;
    	background-position: center center;
    	background-size: cover;
		background-repeat: no-repeat;
	}
	.main__title h1 {
		font-size: 58px;
    	padding-bottom: 50px;
		padding-top: 250px;
		color: rgb(167, 16, 187);
	}
	.main__subtitle h3 {
		font-size: 26px;
		padding-bottom: 75px;
		line-height: 1.35;
	}
	.main__button a {
		font-size: 25px;
	}
	.subtitle .container {
		max-width: 690px;
	}
	.subtitle__text {
		padding-top: 60px;
		padding-bottom: 45px;
		font-size: 26px;
	}
	.attention {
		padding-bottom: 50px;
	}
	.attention .container {
		max-width: 690px;
	}
	.attention__text {
		max-width: 100%;
	}
	.attention__title h2 {
		font-size: 30px;
	}
	.attention__subtitle h3 {
		font-size: 23px;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 21px;
	}
	.attention__img {
		display: none;
	}
	.lid .container {
		max-width: 660px;
	}
	.lid__title h2 {
		font-size: 37px;
	}
	.lid__subtitle h3 {
		font-size: 21px;
		line-height: 1.55;
	}
}

@media (max-width: 650px) {
	.container {
		max-width: 450px;
	}
	.main {
		background: url(../img/main__background-mobile.jpg);
		background-attachment: scroll;
    	background-position: center center;
    	background-size: cover;
		background-repeat: no-repeat;
	}
	.main__title h1 {
		font-size: 35px;
    	padding-bottom: 30px;
    	padding-top: 150px;
		color: rgb(30, 13, 182);
	}
	.main__subtitle h3 {
		font-size: 15px;
    	padding-bottom: 75px;
    	line-height: 1.35;
	}
	.main__button a {
		font-size: 15px;
		padding: 15px 40px;
	}
	.subtitle .container {
		max-width: 450px;
	}
	.subtitle__text {
		padding-top: 30px;
    	padding-bottom: 35px;
    	font-size: 20px;
	}
	.attention {
		padding-bottom: 30px;
	}
	.attention .container {
		max-width: 440px;
	}
	.attention__text {
		max-width: 100%;
	}
	.attention__title h2 {
		font-size: 27px;
    	text-align: center;
	}
	.attention__subtitle h3 {
		font-size: 23px;
    	text-align: center;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 19px;
	}
	.attention__img {
		display: none;
	}
	.lid .container {
		max-width: 450px;
	}
	.lid__title h2 {
		font-size: 31px;
		padding-bottom: 20px;
	}
	.lid__subtitle h3 {
		font-size: 18px;
    	line-height: 1.55;
	}
}

@media (max-width: 425px) {
	.container {
		max-width: 360px;
	}
	.main {
		background: url(../img/main__background-mobile.jpg);
		background-attachment: scroll;
    	background-position: center center;
    	background-size: cover;
		background-repeat: no-repeat;
	}
	.main__title h1 {
		font-size: 28px;
		padding: 150px 7px 30px 7px;
		color: rgb(33, 182, 13);
	}
	.main__subtitle h3 {
		font-size: 14px;
    	padding-bottom: 50px;
    	line-height: 1.35;
	}
	.main__button a {
		font-size: 15px;
		padding: 10px 30px;
	}
	.subtitle .container {
		max-width: 330px;
	}
	.subtitle__text {
		padding: 30px 0;
		font-size: 15px;
	}
	.attention {
		padding-bottom: 25px;
	}
	.attention .container {
		max-width: 370px;
	}
	.attention__text {
		max-width: 100%;
	}
	.attention__title h2 {
		font-size: 20px;
		text-align: center;
		padding-bottom: 20px;
	}
	.attention__subtitle h3 {
		font-size: 17px;
    	text-align: center;
		padding-bottom: 20px;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 14px;
    	padding-bottom: 5px;
	}
	.attention__img {
		display: none;
	}
	.lid .container {
		max-width: 360px;
	}
	.lid__title h2 {
		font-size: 28px;
		padding-bottom: 15px;
	}
	.lid__subtitle h3 {
		font-size: 14px;
		line-height: 1.55;
	}
}

@media (max-width: 375px) {
	.container {
		max-width: 340px;
	}
	.main {
		background: url(../img/main__background-mobile.jpg);
		background-attachment: scroll;
    	background-position: center center;
    	background-size: cover;
		background-repeat: no-repeat;
	}
	.main__title h1 {
		font-size: 28px;
		padding: 150px 7px 30px 7px;
		color: rgb(11, 180, 202);
	}
	.main__subtitle h3 {
		font-size: 14px;
    	padding-bottom: 50px;
    	line-height: 1.35;
	}
	.main__button a {
		font-size: 15px;
		padding: 10px 30px;
	}
	.subtitle .container {
		max-width: 330px;
	}
	.subtitle__text {
		padding: 30px 0;
		font-size: 15px;
	}
	.attention .container {
		max-width: 330px;
	}
	.attention__text {
		max-width: 100%;
	}
	.attention__title h2 {
		font-size: 20px;
		text-align: center;
		padding-bottom: 20px;
	}
	.attention__subtitle h3 {
		font-size: 17px;
    	text-align: center;
		padding-bottom: 20px;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 14px;
    	padding-bottom: 5px;
	}
	.attention__img {
		display: none;
	}
}

@media (max-width: 320px) {
	.container {
		max-width: 290px;
	}
	.main {
		background: url(../img/main__background-mobile.jpg);
		background-attachment: scroll;
    	background-position: center center;
    	background-size: cover;
		background-repeat: no-repeat;
	}
	.main__title h1 {
		font-size: 24px;
    	padding: 120px 0 20px 0;
		color: rgb(255, 255, 255);
	}
	.main__subtitle h3 {
		font-size: 12px;
    	padding-bottom: 40px;
    	line-height: 1.35;
	}
	.main__button a {
		font-size: 12px;
    	padding: 10px 25px;
	}
	.subtitle .container {
		max-width: 290px;
	}
	.subtitle__text {
		padding: 30px 0;
    	font-size: 13px;
	}
	.attention {
		padding-bottom: 10px;
	}
	.attention .container {
		max-width: 290px;
	}
	.attention__text {
		max-width: 100%;
	}
	.attention__title h2 {
		font-size: 20px;
		text-align: center;
		padding-bottom: 20px;
	}
	.attention__subtitle h3 {
		font-size: 17px;
    	text-align: center;
		padding-bottom: 20px;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 13px;
    	padding-bottom: 5px;
	}
	.attention__img {
		display: none;
	}
	.lid .container {
		max-width: 300px;
	}
	.lid__title h2 {
		font-size: 23px;
		padding-bottom: 10px;
	}
	.lid__subtitle h3 {
		font-size: 12px;
		line-height: 1.55;
	}
}	

@media (max-width: 240px) {
	.container {
		max-width: 200px;
	}
	.main {
		background: url(../img/main__background-mobile.jpg);
		background-attachment: scroll;
    	background-position: center center;
    	background-size: cover;
		background-repeat: no-repeat;
	}
	.main__title h1 {
		font-size: 16px;
		padding: 80px 0 20px 0;
		color: rgb(136, 123, 255);
	}
	.main__subtitle h3 {
		font-size: 8px;
    	padding-bottom: 20px;
    	line-height: 1.35;
	}
	.main__button a {
		font-size: 8px;
		padding: 5px 15px;
	}
	.subtitle .container {
		max-width: 200px;
	}
	.subtitle__text {
		padding: 20px 0;
    	font-size: 9px;
	}
	.attention {
		padding-bottom: 10px;
	}
	.attention .container {
		max-width: 220px;
	}
	.attention__text {
		max-width: 100%;
	}
	.attention__title h2 {
		font-size: 13px;
		text-align: center;
		padding-bottom: 15px;
	}
	.attention__subtitle h3 {
		font-size: 11px;
    	text-align: center;
		padding-bottom: 15px;
	}
	.attention__list {
		margin-left: 18px;
	}
	.attention__list li {
		font-size: 9px;
    	padding-bottom: 5px;
	}
	.attention__img {
		display: none;
	}
	.lid .container {
		max-width: 220px;
	}
	.lid__title h2 {
		font-size: 16px;
		padding-bottom: 10px;
	}
	.lid__subtitle h3 {
		font-size: 8.6px;
		line-height: 1.55;
	}
}